a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

* {
  margin: 0;
}
.container {
max-width: 100vw;
}

.item {
text-align: center;
}

.scroll {
margin: 5px 0;
overflow-x: scroll;
display: flex;
height: 156px;
width: 100vw;
}

.scroller_text{
position: relative;
color: black;
top: -2px;
text-align: center;
font-family: sans-serif;
left: 5%;
}

.button {
width: 85px;
height: 85px;
min-width: 85px;
min-height: 85px;
margin: 17px 11px;
border-radius: 17px;
color: white;;
font-family: Arial, sans-serif;
}

@media (hover:hover){
.button:hover{
  transform: scale(0.95);
}
}

@media (hover: none){
.button:active{
  transform: scale(0.95);
}
}

#scroller_police{
border-color: #3D00B8;
}

#scroller_baraholka{
border-color: #9DE8FF;
}

#scroller_houses{
border-color: #82002D;
}

#scroller_job{
  border-color: #E8C864
}

#scroller_services{
    border-color: #EED6AB;
}

#scroller_photos{
  border-color: #d8004c;
}

#scroller_chatting{
    border-color: #82002D;
  }

#scroller_pets{
    border-color: #ad3af0;
}

#scroller_travellers{
  border-color: #BD6FE9;
}

#scroller_answer{
  border-color: #9DE8FF;
}

#scroller_bureau{
  border-color: #DB00E7;
}
    
.button img {
position: relative;
width: 85px;
height: 85px;
left: -1px;
border-style: solid;
border-color: #BD6CEC;
border-radius: 17px;
border-width: 6px;
}

#mainbanner{
  margin: 1%;
}
#mainbanner img{
width: 100%;
height: 100%;
margin-bottom: -13px;
border-radius: 17px;
}

@media (hover:hover){
#mainbanner:hover{
  transform: scale(0.95);
}
}

@media (hover: none){
#mainbanner:active{
  transform: scale(0.95);
}
}

#secondline{
width: 100%;
height: 33%;
position: relative;
top: 22px;
flex-flow: column;
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 2%;
}

#news{
width: 33%;
height: 100%;
margin-left: 1%;
}

#news img{
border-radius: 17px;
position: relative;
width: 100%;
height: 100%;
}

@media (hover: hover){
  #news :hover{
    transform: scale(0.95);
    }
}

@media (hover: none){
  #news :active{
    transform: scale(0.95);
    }
}

#secondbanner{
position: relative;
width: 64%;
height: 100%;
}

#secondbanner img{
border-radius: 17px;
width: 100%;
height: 100%;
}

@media (hover: hover){
  #secondbanner:hover{
    transform: scale(0.95);
    }
}

@media (hover: none){
  #secondbanner:active{
    transform: scale(0.95);
    }
}


.menutext{
padding: 3px;
margin: 5px;
font-size: 15px;  
float: right;
}


#header_container{
position: relative;
top: 12px;
text-align: left;
font-size: 24px;
clear: both;
display: block;
font-family: sans-serif;
}

#shops{
width: 100%;
display: grid;
grid-template-columns: repeat(2, 50%);
grid-auto-rows: 101px;
top: 6px;
position:  relative;
justify-items: center;
}

.shop_text{
position: relative;
color: white;
font-size: 100%;
margin: auto;
}

.button_shop{
height: 85px;
width: 75%;
border-radius: 17px;
background-color: rgb(124, 42, 214);
text-decoration: none;
font-family: Arial, sans-serif;
text-align: center;
display: flex;
justify-content: center;
}

@media (hover: hover){
  .button_shop:hover{
    transform: scale(0.95);
    }
}

@media (hover: none){
  .button_shop:active{
    transform: scale(0.95);
    }
}
